<<<<<<< HEAD
#recipyResult {
    display: flex;
    flex-direction: column;
}
#nav {
    justify-content: flex-end;

}

#ingAndImg {

    display: flex;
    flex-direction: row;
}
=======
/*-------------Tae's Css update section-----------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* gave a shape to the body pf the page*/
body {
    position: relative;
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: black;
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
}

.jumbotron {
    font-family: 'Noto Serif JP', serif;
}

.jumbotron img {
    width: 100%;
    height: 300px;
    margin-bottom: -5%;
    margin-top: -5%;
}

.jumbotron img {
    position: relative;
    text-align: center;
}

/*-------------Tae's Css update section-----------------*/
>>>>>>> dbc40991c33434f142907fdd2a46c80d9d398c92
