* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* whole page background color */
body {
    position: relative;
    margin: 0%;
    padding: 0%;
    background-color: #7a9539;
}

/*NAV BAR STUFF*/
nav {
    width: 100%;
    background-color: black;
    font-size: 20px;
    font-family: 'Noto Serif JP', serif;
    margin-top: 0%;
}

nav img {
    width: 100%;
    height: auto;
    margin-bottom: 0%;
    margin-left: 0%;
}

#search-bar {
    background-color: rgb(253, 235, 231);
}

/* autocomplete attributes */
.ui-menu{
    background: white;
}

.ui-helper-hidden-accessible{
    display: none;
}
/*NAV BAR STUFF*/

/*JUMBO STUFF*/
.jumbotron-fluid {
    padding: inherit;
}

.jumbotron img {
    width: 100%;
    height: auto;
    margin-bottom: 0%;
    margin-top: 0%;
}
/*JUMBO STUFF*/

/* MAIN STUFF */
main {
    width: 100%;
    background-color: #7a9539;
    font-family: 'Noto Serif JP', serif;
}

/*CARD STUFF*/
.container{
    display: flex;
    margin-left: 15%;
}

.card{
    cursor: pointer;
}

.card-link{
    text-align: center;
}
/* CARD STUFF */

/* RECIPE STUFF */
#current-dish {
    display: block;
    margin: 5%;
}

#pic-and-ing {
    display: flex;
}


#ingredients {
    margin: 3%;
    margin-top: 0px;
}

#steps {
    background-color: #464345;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    color: floralwhite;
}

.stepInstruction {
    background-color: #7a7579;
    padding: 5px;
}

.col {
    margin: 30px;
    padding: 15px;
}